.vscode/

cansat_2026/build/
cansat_2026/cmake/
cansat_2026/Drivers/
cansat_2026/Middlewares/
cansat_2026/.mxproject
cansat_2026/cansat_2026.ioc
cansat_2026/CMakeLists.txt
cansat_2026/CMakePresets.json
cansat_2026/startup_stm32g0b1xx.s
cansat_2026/STM32G0B1XX_FLASH.ld