.vscode/

cansat_2026/build/
cansat_2026/cmake/
cansat_2026/Drivers/
cansat_2026/Middlewares/
cansat_2026/.mxproject
cansat_2026/cansat_2026.ioc
cansat_2026/CMakePresets.json
cansat_2026/startup_stm32g0b1xx.s
cansat_2026/STM32G0B1XX_FLASH.ld
cansat_2026/build.ninja
cansat_2026/CMakeFiles/cmake.check_cache
cansat_2026/CMakeFiles/rules.ninja
cansat_2026/cmake_install.cmake
cansat_2026/CMakeCache.txt
cansat_2026/CMakeFiles/clean_additional.cmake
cansat_2026/CMakeFiles/3.28.1/CMakeASMCompiler.cmake
cansat_2026/CMakeFiles/3.28.1/CMakeCCompiler.cmake
cansat_2026/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
cansat_2026/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
cansat_2026/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cansat_2026/CMakeFiles/3.28.1/CMakeSystem.cmake
cansat_2026/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.o
cansat_2026/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.o
cansat_2026/CMakeFiles/TargetDirectories.txt
cansat_2026/CMakeFiles/CMakeConfigureLog.yaml
cansat_2026/compile_commands.json
